@import url(/css/reset-style.css);

body {
    background-image: url(/assets/photos/wooden-texture.jpg);
}

header {
    height: 105px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}