@import url(/css/reset-style.css);

body {
    background-image: url(/assets/photos/wooden-texture.jpg);
}

header {
    height: 105px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#boxes_container {
    display: flex;
    flex-wrap: wrap;
    width: 1040px;
    height: 416px;
    margin: 0 auto 0 auto;
    background-color: wheat;
}

#boxes_subtitle_div {
    height: 25%;
    width: 100%;
    background-color: green;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

p {
    color: black;
    font-size: 25px;
}

.medium_box {
    height: 25%;
    width: 18%;
    display: flex;
    align-items: center;
}

.small_box {
    height: 25%;
    width: 13%;
    display: flex;
    align-items: center;
}

.big_box {
    height: 25%;
    width: 20%;
    display: flex;
    align-items: center;
}

#black_box {
    background-color: black;
}

#teal_box {
    background-color: teal;
}

#blue_box {
    background-color: blue;
}

#navy_box {
    background-color: navy;
}

#lime_box {
    background-color: lime;
}

#white_box {
    background-color: white;
}