@import url(/css/reset-style.css);

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 870px;
    height: 110px;
    line-height: 110px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

section {
    width: 870px;
    height: 370px;
    margin: auto;
}

.subtitle_div {
    height: 62px;
    line-height: 62px;
    background-color: grey;
}

.subtitle_h2 {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5px;
}